PORT=3001
MONGODB_URI=mongodb://localhost:27019/ario_db
JWT_SECRET=ario_app_secret_jwt_key_2026_super_secure_key
JWT_EXPIRES_IN=7d
ADMIN_DEFAULT_USERNAME=admin
ADMIN_DEFAULT_PASSWORD=admin123
ADMIN_DEFAULT_NAME=مدیر سیستم
MARKETER_DEFAULT_USERNAME=marketer
MARKETER_DEFAULT_PASSWORD=marketer123
MARKETER_DEFAULT_NAME=بازاریاب آریو
